<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    
    <link rel="stylesheet" href="./styles.css">
    
</head>
<body>
    <form action="./views/personas/listadopersonas" class="form-box">
        <h1 class="form-title">Ingresar</h1>
        <input type="text" placeholder="Usuario">
        <input type="password" placeholder="Contraseña">
        <button type="submit">
            Iniciar sesion
        </button>
    </form>
</body>
</html>