<div class="container">
    <h1 style="background: black; border: 5px; text-transform:uppercase">Página Principal</h1>
    <h2>En esta pagina veras como puedes insertar, editar y eliminar una persona o un producto de una lista,
        por medio de botones para la edicion y eliminacion y para insertar las personas y los productos 
        los podras insertar por medio de el vinculo localhost:8080/insertarpersonas para las personas o 
        localhost:8080/insertarproductos para los productos, copia y pega en tu navegador para realizarlo.
    </h2>
</div>
<br>
<br>

<div class="container" style="border: 5px;">
    <a href="http://localhost:8080/listadopersonas" class="btn btn-primary">Listado de personas</a>
    <br>
    <br>
    <a href="http://localhost:8080/listadoproductos" class="btn btn-primary">Listado de productos</a>
    <br>
    <br>
    <a href="http://localhost:8080/insertarpersonas" class="btn btn-primary">Insertar personas</a>
    <br>
    <br>
    <a href="http://localhost:8080/insertarproductos" class="btn btn-primary">Insertar productos</a>
    <br>
    <br>
    
</div>