<div class="container">
    <h1 style="background: black; border: 5px; text-transform:uppercase">Página Principal</h1>
    <h2>En esta pagina veras como puedes insertar, editar y eliminar una persona o un producto de una lista,
        por medio de botones para la edicion y eliminacion y para insertar las personas y los productos 
        los podras insertar por medio de el vinculo localhost:8080/insertarpersonas para las personas o 
        localhost:8080/insertarproductos para los productos, copia y pega en tu navegador para realizarlo.
    </h2>
</div>


