<link rel="stylesheet" href="./styles.css">
<div class="container">
    <h1>Registro de personas</h1>
    <div class="card">
        <div class="card-header" style="border: 5px red ; color:red">
            Formulario de Registro
        </div>
        <div class="card-body">
            <form action="insertarpersonas" method="POST">
                <div class="mb-3">
                    <input type="text" class="form-box" class="form-control" name="nombre" placeholder="nombre">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-box" class="form-control" name="cedula" placeholder="cedula">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-box" class="form-control" name="apellido" placeholder="apellido">
                </div>
                <div class="mb-3">
                    <input type="number" class="form-box" class="form-control" name="telefono" >
                </div>
                <div class="mb-3">
                    <input type="submit" class="form-control btn btn-primary" style="border: solid black 10px; " value="Registrar">
                    <button class="form-control btn btn-primary" style="border: solid black 10px; " >Regresar</button>
                </div>

            </form>
        </div>
    </div>
</div>

